@mixin animation-six {
    transition: all .6s ease-in-out;
}


@keyframes menu-card {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes load-page {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes squares {
    0% {
        transform: translateY(150%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes heart {
    0% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scale(.8);
    }
}