@mixin animation-six {
    transition: all .6s ease-in-out;
}

@keyframes menu-card {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}