$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$text-color-one: #fff;
$text-color-two: #efefef;
$text-color-three: #333;
$text-color-four: #666;
$text-color-five: #000;

$background-color-one: #fff;
$background-color-two: #fbfbfb;
$background-color-three: #efefef;
$background-color-four: #444;
$background-color-five: #d5d5d5;

$anim-dur: 1000ms;
$anim-dur-short: 500ms;
$anim-delay: calc($anim-dur / 10);

@mixin color-gradient {
    background: linear-gradient($secondary-color, $primary-color );
}

@mixin color-gradient-2 {
    background: linear-gradient($primary-color, $secondary-color );
}

@mixin color-gradient-lighten {
    @include color-gradient-2;
    box-shadow: 0px 3px 3px 1px rgb(168, 168, 168);
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin container {
    padding: 30px;
}

@mixin tablet-only {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop-XL-only {
    @media screen and (min-width: 1280px) {
        @content;
    }
}