.header-img {
    position: relative;
    z-index: 2;
}

.options {
    @include container;
    position: relative;
    z-index: 3;
    background-color: $background-color-three;
    border-radius: 40px 40px 0 0;
    margin-top: -80px;
    padding-bottom: 60px;

    &__restaurant-name {
        @include row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__heart-icon {
        width: 20%;
        @include center;
        position: relative;

        .heart-empty,
        .heart-full {
            position: absolute;
        }

        .heart-full {
            @include animation-six;
            color: $primary-color;
            opacity: 0;
        }

        &:hover .heart-full {
            opacity: 1;
        }
    }
}


.section-title {
    text-transform: uppercase;

    h3::after {
        content: "";
        height: .15em;
        width: 3em;
        background-color: $tertiary-color;
        display: block;
        position: relative;
        left: 0;
        bottom: 0;
        margin-top: 5px;
    }
}

.food-option {
    @include row;
    @include center;
    background-color: $background-color-one;
    box-shadow: 0px 0px 15px 2px rgb(218, 218, 218);
    border-radius: 15px;
    height: 70px;
    overflow: hidden;
    animation: option 1000ms 500ms;
    animation-fill-mode: backwards;
    margin-bottom: 15px;

    &__text {
        min-width: 150px;
        width: 80%;
        height: 100%;
        color: #222;
        padding: 15px 0 10px 15px;

        h4,
        p {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 10px 0;
        }
    }

    &__price {
        @include animation-six;
        transform: translateX(100%);
        position: relative;
        color: #000;
        width: 20%;
        height: 100%;

        p {
            position: absolute;
            bottom: 10px
        }
    }

    &__check-animation {
        @include center;
        @include animation-six;
        transform: translateX(100%);
        background-color: $tertiary-color;
        height: 100%;
        width: 20%;

        i {
            @include animation-six;
            transform: rotate(180deg);
            color: #fff;
        }
    }

    &:hover &__check-animation {
        transform: translateX(0);

        i {
            transform: rotate(0deg);
        }


    }

    &:hover &__price {
        transform: translateX(0);
    }
}