@import "config";
@import "home";
@import "animations";
@import "food-menu";

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
    font-size: 2em;
    color: $text-color-three;
}

h2 {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
    font-size: 1.5em;
}

h3 {
    font-size: 19px;
}

.title h3 {
    @include desktop-only {
        @include center;
    }
}

h4 {
    font-size: 16px;
}

p {
    font-size: 15px;
}

i {
    color: $text-color-three;
}

ul {
    padding-inline-start: 0px;
}

ul li {
    list-style: none;
    color: $text-color-one;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    @include center;
    width: 100%;
    height: 80px;
    background-color: $background-color-one;
    box-shadow: 0px 5px 8px 0px #b7b7b7;
    z-index: 2;

    &__logo {
        @include center;
        width: 100%;
        position: absolute;
    }

    &__arrow-back {
        position: absolute;
        z-index: 7;
        top: 50%;
        font-size: 1em;
        display: flex;
        margin: 0 15px;

        a {
            text-decoration: none;
            margin: 0;
            padding: 0;
            width: inherit;
            color: inherit;
        }
    }
}

.heart-icon {
    @include center;
    padding-right: 30px;
    width: 5%;
    position: relative;

    .heart-empty,
    .heart-full {
        position: absolute;
    }

    .heart-full {
        @include animation-six;
        // color: $primary-color;
        // @include color-gradient;
        opacity: 0;
        // height: 20px;
    }

    &:hover .heart-full {
        opacity: 1;
    }
}

.button-standard {
    @include center;
    @include color-gradient;
    color: $text-color-one;
    border-radius: 30px;
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 200px;
    box-shadow: 1px 2px 5px 1px rgb(204, 204, 204);

    a {
        @include center;
    }

}

.spacer-one {
    margin-top: 1em;
}

.spacer-two {
    margin-top: 2em;
}

.spacer-three {
    margin-top: 3em;
}

.spacer-four {
    margin-top: 4em;
}


@mixin z-index {
    z-index: 200;
}

.load-page {
    @include center;
    @include z-index;
    background-color: $background-color-three;
    animation: load-page 100ms 3s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation-fill-mode: both;

    .animated-squares {
        width: 15%;
        justify-content: space-between;
        @include row;
    }

    .square-one {
        height: 20px;
        width: 20px;
        background-color: $primary-color;
        animation: squares 500ms 50ms both infinite alternate-reverse;
    }

    .square-two {
        height: 20px;
        width: 20px;
        background-color: $secondary-color;
        animation: squares 800ms 150ms both infinite alternate;
    }

    .square-three {
        height: 20px;
        width: 20px;
        background-color: $tertiary-color;
        animation: squares 500ms 50ms both infinite alternate-reverse;
    }
}



footer {
    @include container;
    background-color: $background-color-four;

    @include tablet-only {

        margin: 0 auto;
    }

    .content {
        @include tablet-only {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    p {
        font-weight: bolder;
    }

    i {
        width: 10px;
        margin-right: 20px;
        color: $background-color-one;
    }

    .logo-footer {
        min-width: 100px;
        max-width: 120px;
    }
}